<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <title>Brewbeck ~ Index</title>
    </head>

    <body>
    <%= render 'layouts/header' %>
        <div class="background_container"></div>
            
            <div class ="container">
                <h1 class="title">Brewbeck</h1>
                <h3 class="subtitle">(Or: How I Learned to Stop Worrying and Order a Beer)</h3>
                <div class="fa-stack fa-5x" id="start_button">
                    <a href="/beers/new">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-beer fa-stack-1x"></i>
                    </a>
                </div>
            </div>
    </body>
</html>