<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <title>Brewbeck ~ Index</title>
</head>
<body>

    <h1 class="title">Brewbeck</h1>
    
    <ul>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
    </ul>

    <div><a href="/beers/new">Let's Get Started</a></div>

</body>
</html>