<h3><a href="/">Back to Homepage</a></h3>
<h3><a href="/beers/new">New Beer Search</a></h3>
<h2>New Recommendation</h2>

<div>
    
    <ul class="output">
        <%= @output.each do |info| %>
        <li>Beer: <%= info.name %> </li>
        <li>ABV: <%= info.abv %> </li>
        <li>IBU: <%= info.ibu %> </li><br>
        <% end %>
    
    </ul>

</div>
