<h3><a href="/">Back to Homepage</a></h3>
<h3><a href="/beers/new">New Beer Search</a></h3>
<h2>New Recommendation</h2>

<div>
    
    <ul>
    
        <li>Beer: <%= @refreshment.name %> </li>
        <li>ABV: <%= @refreshment.abv %> </li>
        <li>IBU: <%= @refreshment.ibu %> </li><br>
    
    </ul>

</div>
<%= debug @parsed["data"] %>