<h3><a href="/">Back to Homepage</a></h3>
<h3><a href="/beers/new">New Beer Search</a></h3>
<h2>New Recommendation</h2>

<div>
    
    <ul>
    <!-- Displays data array (of hashes) from parsed JSON -->
    <!-- Iterates over hash -->
    
    </ul>

</div>
<%= debug @parsed["data"] %>