<!DOCTYPE html>
<html>
<head>
  <title>Beer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<!--JS thing was causing issues here, so I removed it-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
